.card {
  width: 50rem;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.575) !important;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.overflow {
  overflow: hidden;
}
.card-img-top {
  transform: scale(1);
  transition: transform 2s ease;
}

.card-title {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.description {
  padding: 0.3rem;
}

img {
  max-width: 100vw;
  max-height: 100vh;
}

@media all and (max-width: 500px) {
  .card {
    max-width: 90vw;
    max-height: 70vh;
  }
}
